.content__container {
  width: 100%;
  height: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.content__cover {
  width: 40rem;
  height: 20rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.content__description {
  width: 40rem;
  text-align: justify;
}
h1 {
  font-size: 2rem;
}
p {
  color: gray;
}
