<main>
  <app-menu-title></app-menu-title>

  <div class="articles-container">
    <div class="main-article">
      <app-big-card Id="1" photoCover="https://source.unsplash.com/random/?cat?sig=\$1"
       cardTitle="Gatos são os melhores"
        cardDescription="É fácil ver por que os gatos são considerados os melhores animais de estimação. Eles são companheiros leais e amorosos, mas também autossuficientes e fáceis de cuidar. Se você está procurando um animal de estimação que possa trazer alegria e amor para sua vida, um gato pode ser a escolha perfeita para você."
        ></app-big-card>
    </div>

    <div class="others-articles">
      <app-small-card Id="2" photoCover="https://source.unsplash.com/random/?cat?sig=\$2" cardTitle="Cotidiano com gatos"></app-small-card>
      <app-small-card Id="3" photoCover="https://source.unsplash.com/random/?cat?sig=\$3" cardTitle="Buscando seu próximo amigo"></app-small-card>
      <app-small-card Id="4" photoCover="https://source.unsplash.com/random/?cat?sig=\$4" cardTitle="Como passear com seu bichano"></app-small-card>
    </div>
  </div>
</main>
